<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% block meta %}

  {% endblock %}

  <title>The Fashion Adviser</title>
  {% load static %}
  {% load instagram_client %}
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  {% block bootstrap_css %}

  {% endblock %}

  <style media="screen">
  @font-face {
  font-family: 'bella_fashion_personal_useRg';
  src: url("{% static 'fonts/bellafashion-webfont.woff2' %}") format('woff2'),
       url("{% static 'fonts/bellafashion-webfont.woff' %}") format('woff');
  font-weight: normal;
  font-style: normal;
  }
  </style>

</head>
<body>

  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{% static 'images/brand.png' %}" alt="Logo Fashion Adviser"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-center">
                {% if category %}
                <li class="nav-item "><a id="link" class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                {% else %}
                <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                {% endif %}
                {% for key, value in count.items %}
                {% if category == key %}
                <li class="nav-item active"><a  class="nav-link" href="{% url 'category' key %}">{{ key }}</a></li>
                {% else %}
               <li class="nav-item"><a  id="link" class="nav-link" href="{% url 'category' key %}">{{ key }}</a></li>
               {% endif %}

              {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-social">
              <li><a href="https://www.facebook.com/TheFashionAdviser.AngieZcoln/"><i class="ti-facebook"></i></a></li>
              <li><a href=https://www.instagram.com/the.fashion.adviser/><i class="ti-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

    {% block head %}

    {% endblock %}

    <section class="blog-post-area section-margin mt-4">
      <div class="container">
        <div class="row">
          {% block content %}

          {% endblock %}

          <div class="col-lg-4 sidebar-widgets">
              <div class="widget-wrap">

                <div class="single-sidebar-widget post-category-widget">
                  <h4 class="single-sidebar-widget__title">The Fashion Adviser en Instagram</h4>
                  <ul class="auto-grid">
                    {% instagram_user_recent_media instagram_profile_name %}
                    {% for media in recent_media %}
                    <li>
                      <a href="//instagram.com/p/{{ media.shortcode }}" target="_blank">
                        <img class="zoom" style='width: 100px; height: 100px' src="{{ media.thumbnail_src }}" alt="Instagram photo">
                      </a>
                    </li>
                    {%endfor%}
                  </ul>

                </div>

                <div class="single-sidebar-widget newsletter-widget">
                  <h4 class="single-sidebar-widget__title">Boletín</h4>
                  <div class="form-group mt-30">
                    <div class="col-autos">
                      <form id="target">
                         {% csrf_token %}
                        <p style="text-align:left">Mantente informado con el mejor contenido de The Fashion Adviser, directo a tu bandeja de correo electrónico</p>
                          {{ email_form}}
                        <!-- <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''"
                          onblur="this.placeholder = 'Ingresa tu correo electrónico'"> -->
                          <button style="margin-top: 1rem" id="btnSuscribe" class="bbtns d-block mt-20 w-100">Suscríbete</button>
                      </form>
                    </div>

                  </div>

                </div>


                <div class="single-sidebar-widget post-category-widget">
                  <h4 class="single-sidebar-widget__title">Secciones</h4>
                  <ul class="cat-list mt-20">
                    {% for key, value in count.items %}
                    <li>
                      <a href="{% url 'category' key %}" class="d-flex justify-content-between">
                        <p>{{key}}</p>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                </div>
              </div>
            </div>
        </div>
    </section>

  <footer style="padding: 50px" class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Acerca de mí</h6>
            <p>
              Soy Angie Zcoln, amante de la moda y en este blog quiero crear conciencia sobre las compras, brindar algunos consejos de estilo que ayudarán a mejorar tu imagen y sacarle provecho a todo aquello que tienes en tu clóset, conservando tu economía y el medio ambiente, sin perder tu esencia.
            </p>
          </div>
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Boletín</h6>
            <p>Mantente informado</p>
            <div class="" id="mc_embed_signup">

              <form  id="target"
              class="form-inline">
                 {% csrf_token %}
                <div class="d-flex flex-row">

                  <!-- <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                    required="" type="email"> -->
                    {{ email_form}}

                  <button id="btnSuscribe" class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                  <div style="position: absolute; left: -5000px;">
                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                  </div>

                </div>
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Sígueme</h6>
            <p>Mis redes sociales</p>
            <div class="footer-social d-flex align-items-center">
              <a href="https://www.facebook.com/TheFashionAdviser.AngieZcoln/">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.instagram.com/the.fashion.adviser/">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
        <p class="footer-text m-0">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
        <a style="margin-left:15px; color: #ff9906" href="#"><i class="fa fa-id-badge footer-text m-0"></i></a>
      </div>
    </div>
  </footer>

  <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  {% block bootstrap_js %}

  {% endblock %}
</body>
</html>
