{% extends "base.html" %}


{% block head %}
{% load static %}

  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner hero-banner--sm" style="background-image: url(/static/images/{{category | lower}}.jpg); background-position-y: bottom; background-position-x: center;">
        <div class="hero-banner__content">
          <h1 style="font-family: bella_fashion_personal_useRg, cursive" >{{category}}</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index'  %}">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page"> <a href="{% url 'category' category %}">{{category}}</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

  <section class="blog-post-area section-margin">
    <div class="container">
      <div class="row">
      {% block content %}
        <div class="col-lg-8">
          <div class="row">
            {% for post in page_obj %}
            <div class="col-md-6">
              <div class="single-recent-blog-post card-view">
                <div class="thumb">
                  <a href="{% url 'post-detail' post.category_name post.slug %}">
                  <img class="card-img rounded-0" style = "height: 233px; width: 350px; object-fit: cover" src="{{post.photo_url}}"  alt="Foto del post">
                  </a>
                  <ul class="thumb-info">
                    <li><a href="#"><i class="ti-user"></i>{{post.author}}</a></li>
                  </ul>
                </div>
                <div class="details mt-20">
                  <a href="{% url 'post-detail' post.category_name post.slug %}">
                    <h3>{{post.title}}</h3>
                  </a>
                  <p>{{post.subtitle}}</p>
                  <a class="button" href="{% url 'post-detail' post.category_name post.slug %}">Leer más <i class="ti-arrow-right"></i></a>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

          <div class="row">
            <div class="col-lg-12">
                <nav class="blog-pagination justify-content-center d-flex">
                  <ul class="pagination">

                    {% if page_obj.paginator.num_pages > 5 %}
                    {% if page_obj.has_previous %}
                      <li class="page-item">
                          <a href="?page=1" class="page-link" aria-label="Previous" style="display: inline;">
                              <span aria-hidden="true">
                                  <i class="ti-angle-double-left"></i>
                              </span>
                          </a>
                          <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous" style="display: inline;">
                              <span aria-hidden="true">
                                  <i class="ti-angle-left"></i>
                              </span>
                          </a>
                      </li>
                      {% endif %}
                      <li class="page-item active"><a href="?page={{ paginator.page }}" class="page-link" style="display: inline;">{{ page_obj.number }} / {{page_obj.paginator.num_pages}}</a></li>
                      {% if page_obj.has_next %}
                      <li class="page-item">
                          <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next" style="display: inline;">
                              <span aria-hidden="true">
                                  <i class="ti-angle-right"></i>
                              </span>
                          </a>
                          <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" aria-label="Next" style="display: inline;">
                              <span aria-hidden="true">
                                  <i class="ti-angle-double-right"></i>
                              </span>
                          </a>
                      </li>
                      {% endif %}
                    {% else %}

                    {% if page_obj.has_previous %}
                      <li class="page-item">
                          <a href="?page=1" class="page-link" aria-label="Previous" style="display: inline;">
                              <span aria-hidden="true">
                                  <i class="ti-angle-double-left"></i>
                              </span>
                          </a>
                          <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous" style="display: inline;">
                              <span aria-hidden="true">
                                  <i class="ti-angle-left"></i>
                              </span>
                          </a>
                      </li>
                      {% endif %}
                      {% for page in page_obj.paginator.page_range %}
                        {% if page == page_obj.number %}
                        <li class="page-item active"><a href="?page={{ page }}" class="page-link" style="display: inline;">{{ page}}</a></li>
                        {% else %}
                        <li class="page-item"><a href="?page={{ page }}" class="page-link" style="display: inline;">{{ page}}</a></li>
                        {% endif  %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <li class="page-item">
                          <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next" style="display: inline;">
                              <span aria-hidden="true">
                                  <i class="ti-angle-right"></i>
                              </span>
                          </a>
                          <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" aria-label="Next" style="display: inline;">
                              <span aria-hidden="true">
                                  <i class="ti-angle-double-right"></i>
                              </span>
                          </a>
                      </li>
                      {% endif %}
                    {% endif %}

                  </ul>
                </nav>
            </div>
          </div>

        </div>
      {% endblock %}
